.form-login{
    background: url(https://miro.medium.com/max/1200/1*jbfWuj3RSAAvmJeBwLWbsw.jpeg?fbclid=IwAR3EdV8lALX-lZ2GO7uv9SjOYFaGXB6z8bfTl5A6pO2OfdC57JmmC24Ujlo);
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    /* width: 100%; */
    display: flex;
}
.btnSignIn {
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    transition: all 1s;
}
.btnSignIn:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.btn-dangky{
    color: chartreuse;
    background-color: transparent;
    border: none;
}
.col-form{
    border:  2px solid white;
    border-radius: 8px;
    padding: 10px ;
    background-color: rgba(255, 255, 255, 0.916);
}
.row-form{
    transform: translateY(50%);
}