.register-page {

    background: url(https://miro.medium.com/max/1200/1*jbfWuj3RSAAvmJeBwLWbsw.jpeg?fbclid=IwAR3EdV8lALX-lZ2GO7uv9SjOYFaGXB6z8bfTl5A6pO2OfdC57JmmC24Ujlo);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;

}
.row-form__register{
    transform: translateY(40px);
}