.tabs-img{
    width: 100%;
}
.tabs-img img{
    width: 100%;
}
.card-body-text{
    padding: 0 6px;
}
.card .card-body p{
    margin-bottom: 0.5rem;
}
@media only screen and (max-width: 600px) {
    .card .card-body{
        padding: 0;
    }
    .card .card-body .h5{
        font-size: 18px;
    }
    .card .card-body p{
        font-size: 12px;
    }
}